:root {
  /* Primary */
  --primary-50: #cfe4f2;
  --primary-100: #bfdbee;
  --primary-200: #9fc9e6;
  --primary-300: #7fb6dd;
  --primary-400: #5ea4d5;
  --primary-500: #3e92cc;
  --primary-600: #2c74a6;
  --primary-700: #20557a;
  --primary-800: #14364d;
  --primary-900: #091721;

  /* Secondary */
  --secondary-50: #fcfaff;
  --secondary-100: #f8f3fe;
  --secondary-200: #f1e5fd;
  --secondary-300: #e9d7fb;
  --secondary-400: #e1c9fa;
  --secondary-500: #d9bbf9;
  --secondary-600: #bc87f4;
  --secondary-700: #9f54f0;
  --secondary-800: #8320eb;
  --secondary-900: #6711c2;

  /* Accent */
  --accent-50: #fffebc;
  --accent-100: #fffeb4;
  --accent-200: #fffea5;
  --accent-300: #fffd96;
  --accent-400: #fffd86;
  --accent-500: #fffd77;
  --accent-600: #fffc3f;
  --accent-700: #fffb07;
  --accent-800: #cecb00;
  --accent-900: #969300;
  /* neutral Color */
  --neutral-white: #f4faff;
  --neutral-black: #1c1d21;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-white);
  color: var(--neutral-black);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4em;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 2.488rem;
}
h2 {
  font-size: 2.074rem;
}
h3 {
  font-size: 1.728rem;
}
h1,
h2,
h3,
span {
  line-height: 1em;
  padding: 0;
  margin: 0;
}

ul,
li,
button,
a {
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
  background: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: "Fira Sans Condensed", sans-serif;

}

.container {
  width: 1400px;
  margin: auto;
}
.section {
  margin-bottom: 20%;
}

/* ANIMATION RUBBER */
.rubber-span {
  display: inline-block;
  cursor: default;
}

.rubber-band {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre-wrap;
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  will-change: transform;
}

.rubberBand:hover {
  color: var(--primary-500);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
